/*
 * Copyright (c) 2022 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/* FIXME: remove 'delete-node' if building with Zephyr version 4 or later
   when ST removed storage_partition from their SDK board DTS.  */
/delete-node/ &storage_partition;

&flash0 {
  partitions {
    /*
     * nvs subsystem requires 2 sectors with a max total of 32K
     * On F4 series, the only option is to use the following
     * partition, which is compatible with mcuboot usage.
     * (limited by nvs.h: uint16_t sector_size)
     */
    storage_partition: partition@8000 {
      compatible = "zephyr,mapped-partition";
      label = "storage";
      reg = <0x0008000 DT_SIZE_K(32)>;
    };
  };
};
