# Kconfig - Subsystem RS485 Driver configuration options
#
# @author Steve Karg <skarg@users.sourceforge.net>
# @date January 2025
# @copyright SPDX-License-Identifier: Apache-2.0

config BACNET_DRIVER_RS485
	bool "BACnet MS/TP RS485 Driver support"
	select UART_ASYNC_API
	select RING_BUFFER
	default y
	help
	  Enables BACnet implementation of RS485 driver for MS/TP
